<div class="content-wrapper">
    <div class="content-header">
        <ul class="breadcrumb">
            <li><a href="#"><i class="icon icon-home"></i></a></li>
            <li class="active">仪表盘</li>
        </ul>
    </div>
    <div class="content-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-info">
                        <div class="info-box-icon">
                            <i class="icon icon-file-text"></i>
                        </div>
                        <div class="info-box-content">
                            <span class="info-box-text">文章总量</span>
                            <span class="info-box-number">320
                                        <small>篇</small>
                                    </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-primary">
                        <div class="info-box-icon">
                            <i class="icon icon-user"></i>
                        </div>
                        <div class="info-box-content">
                            <span class="info-box-text">用户总量</span>
                            <span class="info-box-number">90
                                        <small>个</small>
                                    </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-warning">
                        <div class="info-box-icon">
                            <i class="icon icon-bars"></i>
                        </div>
                        <div class="info-box-content">
                            <span class="info-box-text">栏目总量</span>
                            <span class="info-box-number">8
                                        <small>个</small>
                                    </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-danger">
                        <div class="info-box-icon">
                            <i class="icon icon-eye-open"></i>
                        </div>
                        <div class="info-box-content">
                            <span class="info-box-text">PV总量</span>
                            <span class="info-box-number">18953
                                        <small>次</small>
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title">信息</div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-info">
                                <tr>
                                    <td>产品名称</td>
                                    <td>tp5_cms</td>
                                </tr>
                                <tr>
                                    <td>核心框架</td>
                                    <td>thinkphp5 & zui</td>
                                </tr>
                                <tr>
                                    <td>作者</td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td>联系方式</td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td>交流讨论</td>
                                    <td><a target="_blank" href="" alt="" title="admin后台"></a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title">服务器信息</div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-info">
                                <tr>
                                    <td>操作系统</td>
                                    <td>Mac OS</td>
                                </tr>
                                <tr>
                                    <td>运行环境</td>
                                    <td>Apache</td>
                                </tr>
                                <tr>
                                    <td>PHP版本</td>
                                    <td>7.2.4</td>
                                </tr>
                                <tr>
                                    <td>MYSQL版本</td>
                                    <td>10.1.11-MariaDB-log</td>
                                </tr>
                                <tr>
                                    <td>上传限制</td>
                                    <td>20M</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>