<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CMS后台管理</title>
    <!-- zui css -->
    <link rel="stylesheet" href="__STATIC__/css/zui.css"/>
    <link rel="stylesheet" href="__STATIC__/css/theme/blue.css">
    <!-- style css -->
    <link rel="stylesheet" href="__STATIC__/css/admin/style.css">
    <!-- jquery js -->
    <script src="__STATIC__/js/jquery.js"></script>

</head>