<?php
use app\admin\model\MenuModel;
$navs = MenuModel::getAdminMenu();
?>
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header"></li>
            <li class={$Request.controller=="Index" ? "active": ""}>
                <a href="__ADMIN__">
                    <i class="icon icon-dashboard"></i>
                    <span>仪表盘</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
            <li class={$Request.controller=="Menu" ? "active": ""}>
                <a href="__ADMIN__/menu/">
                    <i class="icon icon-file"></i>
                    <span>菜单管理</span>
                    <span class="pull-right-container">
                        <i class="icon icon-angle-{$Request.controller=="Menu" ? "right": "left"}"></i>
                    </span>
                </a>
            </li>
            {foreach $navs as $nav}
            <li class={$nav.controller_name|getActive ?"active": ""}>
                <a href="__ADMIN__/{$nav.controller_name}/{$nav.func_name}">
                    <i class="icon icon-file"></i>
                    <span>{$nav.menu_name}</span>
                    <span class="pull-right-container">
                        <i class="icon icon-angle-{$nav.controller_name|getActive ?"right": "left"}"></i>
                    </span>
                </a>
            </li>
            {/foreach}

            <li class="treeview">
                <a href="javascript:;">
                    <i class="icon icon-sign-blank"></i>
                    <span>扩展插件</span>
                    <span class="pull-right-container">
                        <i class="icon icon-angle-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="plugin-toastr.html">
                            <i class="icon icon-circle-blank"></i> Toastr</a>
                    </li>
                    <li>
                        <a href="plugin-notify.html">
                            <i class="icon icon-circle-blank"></i> Notify</a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>