<!DOCTYPE html>
<html lang="zh-CN">
{include file="index/head" /}

<body>
<div class="wrapper">
    {include file="index/header" /} {include file="index/sidebar" /}

    <div class="content-wrapper">
        <div class="content-header">
            <ul class="breadcrumb">
                <li>
                    <a href="__ADMIN__">
                        <i class="icon icon-home"></i>
                    </a>
                </li>
                <li>
                    <a href="__ADMIN__/news/list">文章管理</a>
                </li>
                <li class="active"> 列表</li>
            </ul>
        </div>
        <div class="content-body">
            <div class="container-fluid">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">列表</div>
                    </div>
                    <div class="panel-body">
                        <div class="table-tools" style="margin-bottom: 15px;">
                            <div class="pull-right input-group" style="width: 130px;">
                                <select class="chosen-select form-control menu-select">
                                    <option value="-1">全部</option>
                                    {foreach $columns as $key=>$column}
                                    <option value={$key} {$key==$type?"selected":""}>{$column}
                                    </option>
                                    {/foreach}
                                </select>
                            </div>
                            <div class="tools-group">
                                <a href="#" class="btn btn-warning" id="btn-slide">
                                    <i class="icon icon-heart-empty"></i> 推荐</a>
                                <a href="#" class="btn btn-primary" id="btn-add">
                                    <i class="icon icon-plus-sign"></i> 新增</a>
                            </div>
                        </div>
                        <form id="form_slide">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="col-md-1 col-sm-1 col-xs-1">选择</th>
                                    <th class="col-md-1 col-sm-1 col-xs-1">排序</th>
                                    <th class="col-md-1 col-sm-1 col-xs-1">ID</th>
                                    <th class="col-md-2 col-sm-2 col-xs-2">标题</th>
                                    <th class="col-md-1 col-sm-1 col-xs-1">栏目</th>
                                    <th class="col-md-1 col-sm-1 col-xs-1">来源</th>
                                    <th class="col-md-2 col-sm-2 col-xs-2">缩略图</th>
                                    <th class="col-md-1 col-sm-1 col-xs-1">创建时间</th>
                                    <th class="col-md-1 col-sm-1 col-xs-1">状态</th>
                                    <th class="col-md-1 col-sm-1 col-xs-1">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {foreach $list as $news}
                                <tr>
                                    <td>
                                        <input type="checkbox" class="checkbox" name="slide" value="{$news->news_id}">
                                    </td>
                                    <td>
                                        <input type="text" name="{$news->news_id}" class="form-control list-order"
                                               value="{$news->listorder}">
                                    </td>
                                    <td>{$news->news_id}</td>
                                    <td>{$news->title}</td>
                                    <td>{$columns[$news->column]}</td>
                                    <td>{$news->copyfrom|getCopyFromById}</td>
                                    <td><img style="max-height: 120px;max-width: 125px" src="{$news->thumb}"/></td>
                                    <td>{$news->create_time}</td>
                                    <td>{$news->status|getStatus}</td>
                                    <td>
                                        <div>
                                            <button type="button" name="{$news->news_id}"
                                                    class="btn btn-xs btn-primary btn-edit">编辑
                                            </button>
                                        </div>
                                        <br>
                                        <div>
                                            <button type="button" name="{$news->news_id}"
                                                    class="btn btn-xs btn-danger btn-delete">删除
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </form>

                        <div>
                            {$list->render()}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{include file="index/footer" /}
<script>
    var SCOPE = {
        "url_add": "__ADMIN__/news/add",
        "url_list_type": "__ADMIN__/news/list?type=",
        "url_listorder": "__ADMIN__/news/listorder",
        "url_edit": "__ADMIN__/news/edit?id=",
        "url_delete": "__ADMIN__/news/delete",
        "url_slide": "__ADMIN__/slide/insert",
    };
</script>

</body>

</html>