<!DOCTYPE html>
<html lang="zh-CN">
{include file="index/head" /}

<body>
<div class="wrapper">
    {include file="index/header" /} {include file="index/sidebar" /}

    <div class="content-wrapper">
        <div class="content-header">
            <ul class="breadcrumb">
                <li>
                    <a href="__ADMIN__">
                        <i class="icon icon-home"></i>
                    </a>
                </li>
                <li>
                    <a href="__ADMIN__/news/list">文章管理</a>
                </li>
                <li class="active"> 列表</li>
            </ul>
        </div>
        <div class="content-body">
            <div class="container-fluid">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">列表</div>
                    </div>
                    <div class="panel-body">
                        <div class="table-tools" style="margin-bottom: 15px;">
                            <div class="pull-right input-group" style="width: 130px;">
                                <select class="chosen-select form-control menu-select">
                                    <option value="-1">全部</option>
                                    {foreach $columns as $column}
                                    <option value="{$column->menu_id}" {$column->
                                        menu_id==$type?"selected":""}>{$column->menu_name}
                                    </option>
                                    {/foreach}
                                </select>
                            </div>
                            <div class="tools-group">
                                <a href="#" class="btn btn-success" id="btn-listorder">
                                    <i class="icon icon-check-circle"></i> 排序</a>
                                <a href="#" class="btn btn-primary" id="btn-add">
                                    <i class="icon icon-plus-sign"></i> 新增</a>
                                <a href="#" class="btn btn-warning">
                                    <i class="icon icon-ban-circle"></i> 禁用</a>
                                <a href="#" class="btn btn-danger">
                                    <i class="icon icon-remove-sign"></i> 删除</a>
                            </div>
                        </div>
                        <form id="form_listorder">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="col-md-1 col-sm-1 col-xs-1">排序</th>
                                    <th class="col-md-1 col-sm-1 col-xs-1">ID</th>
                                    <th class="col-md-2 col-sm-2 col-xs-2">标题</th>
                                    <th class="col-md-1 col-sm-1 col-xs-1">栏目</th>
                                    <th class="col-md-1 col-sm-1 col-xs-1">来源</th>
                                    <th class="col-md-1 col-sm-1 col-xs-1">封面图</th>
                                    <th class="col-md-2 col-sm-2 col-xs-2">创建时间</th>
                                    <th class="col-md-1 col-sm-1 col-xs-1">状态</th>
                                    <th class="col-md-2 col-sm-2 col-xs-2">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {foreach $list as $news}
                                <tr>
                                    <td>{$news->listorder}</td>
                                    <td>{$news->news_id}</td>
                                    <td>{$news->title}</td>
                                    <td>{$news->column}</td>
                                    <td>{$news->copyfrom}</td>
                                    <td>{$news->thumb}</td>
                                    <td>{$news->create_time}</td>
                                    <td>{$news->status}</td>
                                    <td>
                                        <button type="button" id="" class="btn btn-xs btn-primary btn-edit">编辑</button>
                                        <button type="button" id="" class="btn btn-xs btn-danger btn-delete">删除</button>
                                    </td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </form>
                        <div>
                            {$list->render()}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{include file="index/footer" /}
<script>
    var SCOPE = {
        "url_add": "__ADMIN__/news/add",
        "url_list_type": "__ADMIN__/news/list?type=",

    };
</script>

</body>

</html>