<!DOCTYPE html>
<html lang="zh-CN">
{include file="index/head" /}
<body>
<div class="wrapper">
    {include file="index/header" /}
    {include file="index/sidebar" /}


    <div class="content-wrapper">
        <div class="content-header">
            <ul class="breadcrumb">
                <li><a href="__ADMIN__"><i class="icon icon-home"></i></a></li>
                <li><a href="__ADMIN__/menu/list">菜单管理</a></li>
                <li class="active"> 列表</li>
            </ul>
        </div>
        <div class="content-body">
            <div class="container-fluid">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">列表</div>
                    </div>
                    <div class="panel-body">
                        <div class="table-tools" style="margin-bottom: 15px;">
                            <div class="pull-right" style="width: 250px;">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="关键字">
                                    <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">搜索</button>
                                        </span>
                                </div>
                            </div>
                            <div class="tools-group">
                                <a href="#" class="btn btn-primary" id="btn-add"><i class="icon icon-plus-sign"></i> 新增</a>
                                <a href="#" class="btn btn-success"><i class="icon icon-check-circle"></i> 启用</a>
                                <a href="#" class="btn btn-warning"><i class="icon icon-ban-circle"></i> 禁用</a>
                                <a href="#" class="btn btn-danger"><i class="icon icon-remove-sign"></i> 删除</a>
                            </div>
                        </div>
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th width="30">
                                    <input type="checkbox">
                                </th>
                                <th class="col-md-1">ID</th>
                                <th class="col-md-2">菜单名</th>
                                <th class="col-md-2">模块名</th>
                                <th class="col-md-2">类型</th>
                                <th class="col-md-1">状态</th>
                                <th class="col-md-2">创建时间</th>
                                <th class="col-md-2">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>1</td>
                                <td>菜单管理</td>
                                <td>admin</td>
                                <td>后台菜单</td>
                                <td>正常</td>
                                <td>2017-11-10 10:20</td>
                                <td>
                                    <a href="#" class="btn btn-xs btn-primary">编辑</a>
                                    <a href="#" class="btn btn-xs btn-danger">删除</a>
                                    {$te}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{include file="index/footer" /}
<script>
    var SCOPE = {"url_add": "__ADMIN__/menu/add"};
</script>

</body>
</html>
